/* header{width:100%; height: 80px; background: #fff;position: fixed;}
header .logo{ width:300px ; background: #26344E; display: flex; color: #fff; text-decoration: none; align-items: center; padding: 0.5rem 1rem;}
header .container-fluid{padding-left: 0rem;}
header .text{font-size: 2.2rem; margin-top: 1rem;}
.myAcc .userImg{ border: 1px solid black; overflow: hidden; display: flex; align-items: center; justify-content: center; width: 40x; border-radius: 100%;}
.myAcc .userImg .rounded-circle{display: flex; align-items: center; justify-content: center; overflow: hidden; cursor: pointer; position: relative;}

.profile{display: flex; align-items: center; justify-content: space-between;} */
.customButton {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
    gap: 0.5rem;
    padding: 8px 0rem;
  }
  .nav-profile-container {
    position: absolute;
    top: 62px;
    right: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .pr-devider {
    border-bottom: 1px solid #eaeaea;
  }
  .nav-profile-section {
    display: flex;
    flex-direction: column;
    width: 295px;
  }
  .profile-dropdown-section {
    display: flex;
    align-items: center;
    justify-content: start;
    border: 1px solid #52b44A;
    border-radius: 8PX;
    background: #52B44A14;
    padding: 8px 4px;
  }
  .profile-section-text {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 500;
    line-height: 27.24px;
    text-align: center;
    color: "#0C2D06" 
  }
  .logo-div {
    height: 35px;
    width: 35px;
    background-color: #21afe6;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }

  .logo-name {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #21afe6;
  }
  .profile-image {
    height: 42px;
    width: 42px;
    border-radius: 50%;
  }
  .profile-name {
    font-size: 13px;
    text-transform: capitalize;
    color: white;
    font-family: "Open Sans", sans-serif;
    line-height: 19px;
    letter-spacing: 0em;
  }
  .nav-btn-logo {
    padding: 0px !important;
    margin-right: 8px;
  }
  .logout-header {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    text-align: left;
    color: #0C2D06;
    letter-spacing: 0em;
    padding-top: 1rem;
  }
  .are-you-sure {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: #7f909c;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.8rem;
  }
  .logout-button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0rem 3rem;
  }
  .cancel-button {
    border-radius: 4px;
    border: 1px solid #878787;
    padding: 0.6rem 2.5rem;
    cursor: pointer;
  }
  .logout-button {
    color: white;
    border-radius: 4px;
    background:#26344E ;
    padding: 0.6rem 2.5rem;
    cursor: pointer;
     
     border:none; 
  }
  .back-to-home {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid #000;
    background: #FFF;
    cursor: pointer;
  
    span {
      color: #0C2D06;
      font-family: "Open Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
  